body {
  background-color: blanchedalmond;
  text-align: center;
}

.welcome {
background-color: darkgoldenrod;

}

.student-input {
background-color: black;
border-bottom: rgb(255, 255, 255) 2px solid;
}

.schools {
background-color: rgb(0, 0, 0);
display: flex;
flex-flow: row wrap;
flex: 0 0 50%;
padding: 10px;
}
.welcome-sort {
background-color: blanchedalmond;
}

.startStyle {
  display: none;
}

.dark-side {
  background-color: rgb(255, 255, 255);
  border: black 2px solid;
  flex: 0 0 50%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap; 
}

.school-container {
  display: flex;
  flex-wrap: wrap;                           
}

.card {
  margin: 4px;
  width: 200px;
  height: 500px;
} 
.card2{
  margin: 4px;
  width: 200px;
  height: 500px;
  background-color: black;
  color: white;
  font-weight: bold;
}
.rcorners {
  border-radius: 50px;
}
.expelBtn:hover {
  background-color:#f50202;
  border: solid black 1px;
  transition: 0.7s;
}
.expelBtn {
color: white;
background-color: black;
border: solid black 1px;
position: bottom;
border-radius: 50px;
}
